@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root{
    --primario: #677D6A;
    --secundario: #40534C;
    --oscuro: #1A3636;
    --claro: #D6BD98;
    --blanco: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--primario);
    font-family: "DM Mono", monospace;
    height: 100vh;
}

textarea{
    background: transparent;
    resize: none;
    outline: none;
    border: 1px solid var(--oscuro);
    font-size: 1.7rem;
    height: 632px;
}
.header{
    background-color: var(--claro);
    padding: 20px;
}

.header__contenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__texto{
    font-size: 4rem;
    font-weight: 500;
}

.contenedor-principal{
    display: flex;
    justify-content: center;
    padding: 18px 50px 0px 50px;
    min-height: 800px;
}

.contenedor-primera__text_area{
    background: transparent;
    resize: none;
    outline: none;
    border: 1px solid var(--oscuro);
    border-radius: 32px;
    padding: 15px;
    color: var(--blanco);
}

.contenedor-primera__text_area::placeholder{
    color: var(--blanco);
}

.contenedor-principal__primera{
    padding: 10px 20px 0px 0px;

}

.contenedor-primera__botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

button{
    color: var(--blanco);
    padding: 15px 60px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    
}

.contenedor-primera__botones-encriptar{
    background-color: var(--secundario);
}

.contenedor-primera__botones-encriptar:hover {
    background-color: var(--oscuro);
}
.contenedor-primera__botones-desencriptar{
    background-color: var(--claro);
}

.contenedor-primera__botones-desencriptar:hover{
    background-color: #B25C05;
}

.contenido-segunda{
    background-color: var(--blanco);
    width: 410px;
    height: 100%;
    border-radius: 32px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    

}
.contenedor-principal__segunda{
    padding: 10px 0px 10px 0px;
    height: 730px;
}

.contenedor-segunda__text_area{
    padding: 10px;
    border: none;
    width: 100%;
    height: 100px;

}


.contenedor-segunda__text_area::placeholder{
    color: var(--oscuro);
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
}

.footer{
    width: 100%;
    background-color: var(--claro);
    padding: 20px;
    text-align: center;
}
